.container {
  display: flex;
  align-items: center;
  gap: 8px;
}
.checkbox-checked {
  width: 14px;
  height: 14px;
  border-radius: 3px;
  background-color: #b92a35;
  border: 1px solid #b92a35;
}

.checkbox {
  width: 14px;
  height: 14px;
  border-radius: 3px;
  border: 1px solid #b92a35;
}
